In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
train_validate = pd.read_csv("/Users/maximedunod/Desktop/ML Project/data/nyc_train_validate.csv", index_col="id")
test = pd.read_csv("/Users/maximedunod/Desktop/ML Project/data/nyc_test.csv", index_col="id")

Import both train validate set and test set. We want first to predict trip distance, to do so we inspect :
-trip purpose 
-bike ownership
-car ownership
-age
-has a driver license
-travel_date_dow
-(number of trvalers) ask for help
-res_type
-income
-gender
-planning_aps
-disability
-industry






Context:
hh_id
person_id
trip_id
travel_date

In [60]:
str_to_val_survey_language = {
    'English': 0,
    'Spanish': 1,
    'Simplified Chinese': 2,
}
str_to_val_disability ={
    'none':0,
    'seeing':1,
    'walking':2,
    'mobility':3,
    'dressing':4,
    'concentrating':5,
    'hearing':6,
}
str_to_val_mode={
    'drive':0,
    'passenger':1,
    'bus':2,
    'subway':3,
    'bike':4,
    'walk':5,
    'other':6,
}



train_validate["mode"].replace(str_to_val_mode,inplace=True)
train_validate.survey_language.replace(str_to_val_survey_language,inplace=True)
train_validate.disability.replace(str_to_val_disability,inplace=True)

In [61]:
train_validate

,person_id,trip_n,travel_date,travel_date_dow,o_purpose_category,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers,o_location_type,...,rent_own,income_aggregate,num_people,num_adults,num_kids,num_workers,num_students,disability,trip_distance,mode
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,30/05/2019,4,-9998,2,0,1,1,4,...,2,4,5,3,2,1,2,0,13.4,3
1,0,1,01/06/2019,6,-9998,1,0,1,1,2,...,2,4,5,3,2,1,2,0,3.7,0
2,0,2,02/06/2019,7,-9998,7,1,2,3,4,...,2,4,5,3,2,1,2,0,9.8,0
3,0,3,02/06/2019,7,7,7,1,2,3,4,...,2,4,5,3,2,1,2,0,11.1,0
4,0,4,03/06/2019,1,-9998,7,0,1,1,4,...,2,4,5,3,2,1,2,0,2.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39493,1794,53,07/06/2019,5,6,6,0,2,2,4,...,2,2,2,2,0,1,0,0,0.5,5
39494,1794,54,07/06/2019,5,6,6,0,2,2,4,...,2,2,2,2,0,1,0,0,0.5,5
39495,1794,55,07/06/2019,5,6,6,0,2,2,4,...,2,2,2,2,0,1,0,0,0.2,5
39496,1794,56,07/06/2019,5,6,8,0,2,2,1,...,2,2,2,2,0,1,0,0,1.1,5
39497,1794,57,07/06/2019,5,8,8,0,2,2,4,...,2,2,2,2,0,1,0,0,0.5,5

In [ ]:
context = [
    "hh_id", "person_id", "trip_id", "travel_date", "mode" 
]
target=["trip_distance"]
features = [c for c in train_validate.columns 
            if c not in (target + context)]